{# Copyright 2026 Ronny Trommer <ronny@no42.org> #}
{# SPDX-License-Identifier: MIT #}
{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">Discovery Scan</h2>
        <table class="table table-hover attr-table">
          <tr><th scope="row">Server</th><td>{{ object.server|linkify }}</td></tr>
          <tr><th scope="row">Site</th><td>{{ object.site|linkify|placeholder }}</td></tr>
          <tr><th scope="row">Location</th><td>{{ object.location|linkify|placeholder }}</td></tr>
          <tr><th scope="row">Foreign Source</th><td>{{ object.foreign_source|placeholder }}</td></tr>
          <tr><th scope="row">IP range</th><td>{{ object.ip_range_begin }} &ndash; {{ object.ip_range_end }}</td></tr>
          <tr><th scope="row">Retries</th><td>{{ object.retries }}</td></tr>
          <tr><th scope="row">Timeout (ms)</th><td>{{ object.timeout }}</td></tr>
          <tr><th scope="row">Last triggered</th><td>{{ object.last_triggered|placeholder }}</td></tr>
          <tr>
            <th scope="row">Status</th>
            <td>
              {% if object.status == "settled" %}
                <span class="badge text-bg-green">Settled</span>
              {% elif object.status == "running" %}
                <span class="badge text-bg-cyan">Running</span>
              {% else %}
                <span class="badge text-bg-secondary">Pending</span>
              {% endif %}
            </td>
          </tr>
          <tr><th scope="row">Discovered nodes</th><td>{{ object.discovered_nodes.count }}</td></tr>
          {% if perms.netbox_opennms.change_discoveryscan %}
            <tr>
              <th scope="row">Trigger</th>
              <td>
                <form method="post" action="{% url 'plugins:netbox_opennms:discoveryscan_trigger' object.pk %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-outline-secondary">Trigger scan</button>
                </form>
              </td>
            </tr>
          {% endif %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
