{# Copyright 2026 Ronny Trommer <ronny@no42.org> #}
{# SPDX-License-Identifier: MIT #}
{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">Monitoring Override</h2>
        <table class="table table-hover attr-table">
          <tr><th scope="row">Object</th><td>{{ object.assigned_object|linkify }}</td></tr>
          <tr><th scope="row">Type</th><td>{{ object.assigned_object_type }}</td></tr>
          <tr><th scope="row">Excluded</th><td>{% checkmark object.exclude %}</td></tr>
          <tr><th scope="row">Suppressed services</th><td>{{ object.suppressed_services|join:", "|placeholder }}</td></tr>
          <tr><th scope="row">Management IP</th><td>{{ object.management_ip|linkify|placeholder }}</td></tr>
          <tr><th scope="row">Management role</th><td>{{ object.get_management_role_display }}</td></tr>
          <tr><th scope="row">Location</th><td>{{ object.location|placeholder }}</td></tr>
          <tr><th scope="row">Categories</th><td>{% for category in object.categories.all %}{{ category|linkify }}{% if not forloop.last %}, {% endif %}{% empty %}{{ ''|placeholder }}{% endfor %}</td></tr>
        </table>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">Additional Interfaces</h2>
        <table class="table table-hover attr-table">
          {% for interface in object.interfaces.all %}
            <tr><td>{{ interface.ip_address|linkify }}</td><td>{{ interface.get_role_display }}</td></tr>
          {% empty %}
            <tr><td colspan="2">{{ ''|placeholder }}</td></tr>
          {% endfor %}
        </table>
      </div>
      <div class="card">
        <h2 class="card-header">Monitored Services</h2>
        <table class="table table-hover attr-table">
          {% for service in object.services.all %}
            <tr><td>{{ service.name }}</td><td>{{ service.ip_address|linkify }}</td></tr>
          {% empty %}
            <tr><td colspan="2">{{ ''|placeholder }}</td></tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
